version: '3.8'
services:
  llm_service:
    build: llm_service
    container_name: testops_backend
    ports:
      - "${LLM_SERVICE_PORT}:${LLM_SERVICE_PORT}"
    # Магия здесь: Docker Compose сам подтянет переменные из файла
    env_file:
      - .env
    # Для удобства разработки можно прокинуть код как volume,
    # чтобы не пересобирать образ при каждом изменении (опционально)
#    volumes:
#      - ./:/app